<div class="stats-container">
<h3 id="s044-top">Survey Wrap Up</h3>
<div class='stats' id='s044'>
    <div class='step' id='sec7_sl01_00_0'><p class='margin question'>
        Do you have any additional comments to add?
      </p>
      
    </div>
    <table class='cell-left full borderless center step' id='sec7_sl01_01_0'>
    <tr>
      <td>
<span class='stat'><a name='q701'></a><%= show_stats('q701', '') %></span>
        <%= errors_for('q701') %>
      </td>
    </tr>
    </table>
    
    

  </div>
</div>
<div class="break"></div>
