    <div id="scroll-spy-nav" class="hidden-print affix-top" role="complementary" data-spy="affix" data-offset-top="80">
        <ul class="nav">                        
            <li class="active">
                <a href="#s002-top">Physician Characteristics</a>
                <ul class="nav">
                    <li><a href="#s002">ABFM</a></li>
                    <li><a href="#s003">CAQ</a></li>
                    <li><a href="#s004">Location</a></li>
                    <li><a href="#s005">Demographics</a></li>
                </ul>
            </li>
            <li><a href="#s006-top">Practice Characteristics</a>
                <ul class="nav">
                    <li><a href="#s006">Setting</a></li>
                    <li><a href="#s007">Areas</a></li>
                    <li><a href="#s008">Community</a></li> 
                    <li><a href="#s009">Work Load</a></li>
                    <li><a href="#s010">Payor Mix</a></li>
                    <li><a href="#s011">Income</a></li>
                </ul>
            </li>
            <li><a href="#s012-top">Career Satisfaction</a></li>
            <li><a href="#s013-top">Status of PCMH Features</a></li>
            <li><a href="#s019-top">Practice Redesign</a></li>
            <li><a href="#s020-top">Scope of Practice</a>
                <ul class="nav">
                    <li><a href="#s020">Maternity Care</a></li>
                    <li><a href="#s021">Partner Services</a></li>
                    <li><a href="#s022">Privileges</a></li> 
                    <li><a href="#s023">Teaching Activities</a></li>
                </ul>
            </li>
            <li><a href="#s024-top">Residency Training Assessment</a>
                <ul class="nav">
                    <li><a href="#s024">Care of the Pregnant Woman</a></li>
                    <li><a href="#s025">Care of Children</a></li>
                    <li><a href="#s026">Care of Adults</a></li> 
                    <li><a href="#s027">Surgical Subspecialties</a></li>
                    <li><a href="#s028">Behavioral Medicine</a></li>
                    <li><a href="#s029">Other Aspects</a></li>
                    <!-- <li><a href="#s030">Other Aspects (cont)</a></li> -->

                    <li><a href="#s031">Specialty Areas</a></li>
                    <!-- <li><a href="#s032">Specialty Areas (cont)</a></li> -->

                </ul>
            </li>
            <li><a href="#s033-top">Residency Training Assessment (cont)</a>
                <ul class="nav">
                    <li><a href="#s033">Skin Procedures</a></li>
                    <li><a href="#s034">Women's Health</a></li> 
                    <!-- <li><a href="#s035">Women's Health (cont)</a></li> -->
                    <li><a href="#s036">Maternity Care</a></li>
                    <!-- <li><a href="#s037">Maternity Care (cont)</a></li> -->
                    <li><a href="#s038">Gastrointestinal &amp; Colorectal</a></li>
                    <li><a href="#s039">Urgent Care &amp; Hospital</a></li>
                    <!-- <li><a href="#s040">Urgent Care & Hospital (cont)</a></li> -->
                    <li><a href="#s041">Musculoskeletal</a></li>
                    <li><a href="#s042">Genitourinary</a></li>
                    <li><a href="#s043">Other Clinical</a></li>
                </ul>
            </li>
            <li><a href="#s044-top">Survey Wrap Up</a></li>
        </ul>
    </div>

